<?xml version="1.0" encoding="utf-8"?>
<!-- Built with: wix build Package.wxs -bindpath Payload=<release\DividendPortfolio> -out FineNetDash.msi -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Fine Net Dash"
      Manufacturer="blazejwrobel98"
      Version="__MSI_VERSION__"
      UpgradeCode="B2F5A1E4-9C3D-47F1-8A6E-1D2C3B4A5E6F"
      Scope="perUser"
      Language="1033">

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main" Title="Application files" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="FineNetDash" />
      </Directory>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="!(bindpath.Payload)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
